.container {
    margin: 0 auto;
}

.awards {
    text-align: center;
    padding: 50px 24px;
}

.awards__title {
    font-family: var(--font-for-subtitle);
    font-size: 34px;
    line-height: 44px;
    margin-top: 20px;
}

.awards__subtitle {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}

.awards-title__decor {
    height: 32px;
}

.awards-cards {
    margin-top: 45px;
}

.award-card__text-block,
.slider__text {
    color: var(--color-support);
}

.testimonials {
    background-image: url(../img/bunch-grape.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.award-card__image {
    background-color: #211b18;
}

.awards-cards__item {
    text-align: left;
    font-size: 18px;
}

.award-card__award-name {
    margin-top: 50px;
}

.award-card__award-year {
    margin-top: 50px;
    font-size: 22px;
    font-family: var(--font-for-subtitle);
}

.award-card__text-block {
    font-size: 16px;
    margin-top: 50px;
}

.testimonials {
    padding-top: 50px;
    text-align: center;
}

.testimonials__title {
    font-family: var(--font-for-subtitle);
    font-size: 34px;
}

.testimonials-title__decor {
    height: 32px;
    margin-top: 25px;
}
.testimonials__subtitle {
    margin-top: 25px;
    font-size: 18px;
}
@media (min-width: 768px) {
    .award-card {
        display: grid;
        grid-template-columns: 12% 13% 10% 47%;
        align-items: center;
        column-gap: 35px;
        row-gap: 100px;
        margin-top: 20px;
    }
    .award-card p{
        margin: 0;
    }
    .award-card > :first-child {
        margin-top: 0;
    }

}