.best-deals {
    padding: 90px 0 50px 0;
    position: relative;
    width: 95%;
    margin-left: 20px;
}

.best-deals__container {
    padding: 0 24px;
}

.container__bd-header {
    display: block;
    padding: 0 15px;
    margin: 0 -15px;
}

.header__bd-title {
    display: block;
    font-size: 14px;
    text-align: center;
}

.header__bd-subtitle {
    display: block;
    font-family: var(--font-for-subtitle);
    font-size: 34px;
    margin-top: 20px;
    text-align: center;
}

.header__bd-decor-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.header__grape-decor {
    height: 32px;
    object-fit: contain;
    object-position: 50% 50%;
}

.header__bd-adv-message {
    display: block;
    font-family: var(--font-main);
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.carousel {
    display: block;
    margin-top: 45px;
}

.wine-navigation__wine-list {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

.wine-list__card {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    justify-content: baseline;
    text-align: center;
    background-color: var(--color-background-main);
    font-family: var(--font-main);
    color: var(--color-main);
    border: none;
}

.item__picture {
    width: 100%;
    border-radius: 15%;
    object-fit: contain;
}

.item__picture:hover {
    animation: round-border 3s forwards infinite;
}

.item__name {
    margin-top: 15px;
}

.item__price {
    font-weight: 700;
}

.item__button {
    margin-top: 24px;
    padding: 16px 25px;
    background-color: var(--color-special);
    border: 3px;
    border-radius: 2px;
    font-family: var(--font-main);
    font-size: 15px;
    font-weight: 700;
    color: var(--color-main);
    cursor: pointer;
    width: 133.359px;
}

.item__button:hover {
    background-color: var(--color-background-button-hover);
}

.carousel a {
    color: var(--font-main);
    text-decoration: none;
    cursor: pointer;
}

.carousel li {
    list-style-type: none;
}

@media (min-width: 768px) {
    .best-deals {
        padding: 100px 0 50px 0;
    }

    .best-deals__container {
        padding: 0 32px;
    }

    .header__bd-title {
        font-size: 21px;
    }

    .header__bd-subtitle {
        font-size: 41px;
    }
}


@media (min-width: 992px) {
    .best-deals {
        padding: 110px 0 50px 0;
    }

    .best-deals__container {
        padding: 0 32px;
    }

    .header__bd-title {
        font-size: 28px;
    }

    .header__bd-subtitle {
        font-size: 48px;
    }

    .carousel {
        margin-top: 50px;
    }
}

@keyframes round-border {
    0% {
        border-radius: 15%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    50% {
        border-radius: 50%;
        transform: scale(0.95);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    100% {
        border-radius: 15%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}