.header__banner-text {
    color: #c8693a;
    font: 'Great Vibes';
}

@media (min-width: 500px) {
    .header__menu {
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}