.header__menu-item button {
    text-align: left;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-special);
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;

}

.header__menu-item button {
    text-align: right;
    font-family: var(--font-main);
    --color-main: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-special);
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
}

.header__banner {
    font-size: 48px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.header__banner-buttons {

    display: flex;
    margin: 10px 0px 40px 0px;
    gap: 10px;

}


.header__banner-text {
    display: block;
    font-size: 14px;
    text-align: right;
}

.header__banner-title {
    display: block;
    font-family: var(--font-for-subtitle);
    font-size: 34px;
    margin-top: 20px;
    text-align: right;
}

.header__banner-description {
    display: block;
    font-family: var(--font-main);
    font-size: 18px;
    margin-top: 20px;
    text-align: right;
}

.header-decor {
    display: flex;
    justify-content: right;
    margin-top: 25px;

}
 .header-wine {
    background-image: url("img/header-wine.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}