.header__banner-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 18px;
    position: relative;
    top: 20px;
}

.header__banner-title {
    display: block;
    font-family: var(--font-for-subtitle);
    font-size: 72px;
    margin-top: 20px;
    text-align: left;
}

.header__banner-description {
    display: block;
    font-family: var(--font-main);
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}

.header__container {
    display: flex;
    justify-content: left;
    margin-top: 25px;
}

.header__decor {
    height: 32px;
    object-fit: contain;
    object-position: 0% 50%;
}

.header__socials {
    display: flex;
    width: 28px;
    gap: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    right: -432px;

}

.header__logo-container {
    display: flex;
    justify-content: right;
    width: 220px;
    height: auto;
    display: block;
    margin-left: 400px;
    padding: 0;
    border: 0;
    object-fit: cover;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header__block {
    justify-content: center;
    align-items: right;
    position: relative;
    right: -220px;
    top: -42px
}

.header__banner-description {
    margin-bottom: 10px;
}

.header {
    background-image: url("img/header-wine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-clip: border-box;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    top: 0;
}

.shop-now {
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-special);
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    margin-right: 5 px;
}


.shop-now:hover {
    background-color: rgb(175, 87, 43);
}


.learn-more {
    text-align: center;
    font-family: var(--font-main);
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
}

.learn-more {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
}

.learn-more:hover {
    background-color: #fff;
    color: rgb(38, 30, 28);
}

.navbar-nav .nav-link {
    color: white;
    position: relative;
    right: -400px;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    scroll-behavior: auto;
    display: flex;
}


.header__logo-container {
    padding: 10px 0;
}

.header__navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}