.header__banner-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 18px;
    position: relative;
    top: 20px;
}

.header__banner-title {
    flex-wrap: wrap;
    display: block;
    font-family: var(--font-for-subtitle);
    font-size: 58px;
    margin-top: 20px;
    text-align: left;
}

.header__banner-text {
    font-size: 14px;
}

.header__banner-description {
    display: block;
    font-family: var(--font-main);
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}

.header__container {
    display: flex;
    justify-content: left;
    margin-top: 25px;
}

.header__decor {
    height: 32px;
    object-fit: contain;
    object-position: 0% 50%;
}


.header__logo-container {
    display: flex;
    justify-content: right;
    width: 220px;
    height: auto;
    display: block;
    /* margin-left: 300px; */
    padding: 0;
    border: 0;
    object-fit: cover;
    box-sizing: border-box;
    overflow: clip;
}

.header__block {
    margin-top: 200px;
}


.header__banner-description {
    margin-bottom: 10px;
}

.header-main {
    background-image: url("../img/header-wine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    top: 0;
}

.shop-now {
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-special);
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    margin-right: 5 px;
}

.shop-now:hover {
    background-color: rgb(175, 87, 43);
}

.learn-more {
    text-align: center;
    font-family: var(--font-main);
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
}

.learn-more {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
}

.learn-more:hover {
    background-color: #fff;
    color: rgb(38, 30, 28);
}

.header__socials {
    display: flex;
    gap: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-collapse.collapsing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-collapse.collapse.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    scroll-behavior: auto;
    display: flex;
}

.header__navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-toggler {
    margin-right: 38px;
}

.header__block-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (min-width: 767px) {
    .header__banner-text {
        font-size: 21px;
    }

    .header__banner-title {
        font-size: 71px;
    }

}

@media (min-width: 992px) {
    .header__banner-text {
        font-size: 28px;
    }

    .header__banner-title {
        font-size: 84px;
    }

}

@media (min-width: 1200px) {
    .header__block-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}