.join-newsletter {
    padding: 90px 0 15px 0;
    position: relative;
    background-color: var(--color-background-join-newsletter);
    font-family: var(--font-main);
    color: var(--color-main);
}

.join-newsletter__container {
    padding: 0 24px;
}

.container__jn-header {
    display: block;
    padding: 0 15px;
    margin: 0 -15px;
}

.header__jn-title {
    display: block;
    font-size: 14px;
    text-align: left;
}

.header__jn-subtitle {
    display: block;
    font-family: var(--font-for-subtitle);
    font-size: 28px;
    margin-top: 20px;
    text-align: left;
}

.header__jn-adv-message {
    display: block;
    font-family: var(--font-main);
    font-size: 16px;
    margin-top: 25px;
    text-align: left;
}

.container__jn-content {
    display: block;
    padding: 0 15px;
    margin: 50px -15px 0 -15px;
}

.content__jn-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-form__input-email {
    margin-top: 12px;
    padding: 16px 25px;
    background-color: var(--color-background-email);
    border-radius: 2px;
    text-align: start;
    border: none;
    color: var(--color-main);
    font-size: 15px;
    font-weight: 400;
}

.contact-form__input-email::placeholder {
    cursor: text;
    opacity: 0.8;
}

.contact-form__input-email:focus {
    padding: 14px 23px;
    outline: 1.5px solid var(--color-main);
    border: 2px solid rgb(59, 153, 252);
}

.contact-form__submit {
    margin-top: 24px;
    padding: 16px 25px;
    background-color: var(--color-special);
    border: 3px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: var(--color-main);
}

.contact-form__submit:hover {
    content: "\01F60A";
    opacity: 0.9;
}

.join-newsletter__footer {
    margin: 45px -15px 0 -15px;
    padding: 15px;
}

.jn-footer__divider {
    border-top: 1px solid white;
}
@media (min-width: 768px) {
    .join-newsletter {
        padding: 100px 0 15px 0;
    }
    .join-newsletter__container {
        padding: 0 32px;
    }
    .header__jn-title {
        font-size: 21px;
    }
    .header__jn-subtitle {
        font-size: 30px;
    } 
    .join-newsletter__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container__jn-header {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 66.67%;
    }
    .container__jn-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 33.33%;
    }
}

@media (min-width: 992px) {
    .join-newsletter {
        padding: 110px 0 15px 0;
    }
    .join-newsletter__container {
        padding: 0 40px;
    }
    .header__jn-title {
        font-size: 28px;
    }
    .header__jn-subtitle {
        font-size: 32px;
    } 
    .join-newsletter__footer {
        margin-top: 50px;
    }
}