@import "global.css";

h3 {
    font-family: var(--font-for-subtitle);
    font-size: 71px;
    color: var(--color-main);
    text-align: center;
}

p {
    color: var(--color-support);
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
.not-allowed__separator {
    width: 166px;
    display: block;
    margin: auto;
    margin-top: 35px;
}

.not-allowed {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 237px;
    padding-bottom: 230px;
}

@media (max-width: 768px) {
    .not-allowed {
        padding-top: 150px;
    }
}