@import "global.css";

h3 {
    font-family: var(--font-for-subtitle);
    font-size: 71px;
    color: var(--color-main);
    text-align: center;
}

p {
    color: var(--color-support);
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
.not-allowed__separator {
    width: 166px;
    display: block;
    margin: auto;
    margin-top: 35px;
}

.not-allowed {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 237px;
    padding-bottom: 230px;
}

@media (max-width: 768px) {
    .not-allowed {
        padding-top: 150px;
    }
}

/*bonus section*/

.bonus {
    text-align: center;
}

.bonus__title-text {
    margin-top: 0;
}

.bonus__game-title {
    font-size: 35px;
    color: rgb(238, 208, 40);
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.bonus__game-answer-two {
    margin-top: 10px;
}

.bonus__game-question-text {
    font-size: 20px;
    color:rgb(255, 255, 255)
}