@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import "global.css";

:root {
    --color-in-stock: rgb(97, 168, 84);
    --color-out-of-stock: rgb(219, 50, 47);
    --rubik-600: 'Rubik', sans-serif;
}

body {
    background-color: var(--color-main);
    color: var(--color-background-main);
    font-family: var(--font-main);
}