.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin: 150px auto;
    padding: 0 30px;
}

.product__img-cont {
    width: 70%;
    align-self: center;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__line {
    opacity: 0.3;
}

.product__info_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__stock {
    font-size: 16px;
}

.info__name {
    font-family: var(--font-for-subtitle);
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0 10px 0;
}

.info__code {
    font-family: var(--font-for-title);
    font-size: 18px;
}

.info__price {
    font-size: 20px;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 20px;
}

.form__input {
    width: 55px;
    height: 40px;
    font-family: var(--font-main);
    text-align: center;
}

.form__button {
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 400;
    background-color: var(--color-special);
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 3px;
}

.description__title {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 10px 10px;
}

.description__text {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .product {
        flex-direction: row;
        gap: 100px;
    }

    .product__img-cont {
        width: 40%;
    }

    .product__info {
        width: 60%;
    }

    .info__code {
        font-size: 22px;
    }
}