.description-wines {
    display: flex;
    flex-direction: row ;
    align-items: center;
    padding: 105px 0 0 60px;
    flex-wrap: wrap;

    
}

.description-wines__container-corkscrew-cheese{
    background-image: url(../img/corkscrew-cheese.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    width: 100;
    margin: 20px;
    padding: 20px;
}

.description-wines__container-glass-two{
    background-image: url(../img/glass-two.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    width: 100;
    margin: 20px;
    padding: 20px;
   
}

.description-wines__container-wine-grape{
    background-image: url(../img/wine-grape.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    width: 100;
    margin: 20px;
    padding: 20px;
}

@media (min-width: 500px) {
    .description-wines__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        
    }
} 

@media (min-width: 900px) {
    .description-wines__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
} 

.about-wine__container-natural {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    

}

.about-wine__name {
    font-family: var(--font-for-subtitle);
    font-size: 30px;
    text-align: center;
}

.about-wine__svg {
    display: flex;
    width: 32%;
    justify-content: center;
}

.about-wine__text {
    font-family: var(--font-main);
    font-size: inherit;
    text-align: center;

}

@import (min-width: 81px) {
    .about-wine__container-natural {

    }
}


.about-wine__image {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    
}

.about-wine__block-image{
    display: flex;
    text-align: left;
}

.about-wine__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    
}

.about-wine__block-first {
    display: inline-block;
    vertical-align: middle;
   
    
}

@media (max-width: 767px) {
    .about-wine__block-image {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}


.about-wine__title {
    font-size: inherit;
    font-family: var(--font-for-subtitle);
}

.about-wine__paragraph {
    color: rgb(137,128,130);
    font-size: inherit;
    font-family: var(--font-main);
}