.description-wines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 90px 0 90px 0;
}

.description-wines__container-corkscrew-cheese {
    background-image: url(../img/corkscrew-cheese.jpg);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 477px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 30px 40px 40px;

}

.description-wines__container-glass-two {
    background-image: url(../img/glass-two.jpg);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 477px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 30px 40px 40px;
}

.description-wines__container-wine-grape {
    background-image: url(../img/wine-grape.jpg);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 477px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 30px 40px 40px;
}
.description-wines__batton {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: var(--font-main);
}

.description-wines__batton:hover {
    text-decoration: underline;
}

.description-wines__title {
    font-family: var(--font-for-subtitle);
    font-size: 22px;
}

.description-wines__text {
    font-family: var(--font-for-subtitle);
    font-size: 16px;
    color: rgb(137, 128, 130);
}







/* @media (min-width: 500px) {
    .description-wines__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

    }
}

@media (min-width: 900px) {
    .description-wines__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
} */






.about-wine__container-natural {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    vertical-align: middle;
}

.about-wine__name {
    font-family: var(--font-for-subtitle);
    font-size: 30px;
    text-align: center;
}

.about-wine__svg {
    width: 32%;
    justify-content: center;
    margin: 0 auto;
    /* object-fit: contain; */
    /* object-position: 50% 50%; */
}

.about-wine__text {
    font-family: var(--font-main);
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
}

.about-wine__block-image {
    display: flex;
    text-align: left;
    margin: auto;
    padding-top: 60px;
}

.about-wine__image {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 300px;
    margin: 20px;
    padding: 20px;

}


.about-wine__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.about-wine__block-first {
    display: inline-block;
    vertical-align: middle;
}


@media (max-width: 767px) {
    .about-wine__block-image {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 767px) {
    .description-wines__container-corkscrew-cheese {
        width: 45%
    }

    .description-wines__container-glass-two {
        width: 45%
    }

    .description-wines__container-wine-grape {
        width: 45%
    }
}

@media (min-width: 992px) {

    .description-wines__container-corkscrew-cheese {
        width: 30%
    }

    .description-wines__container-glass-two {
        width: 30%
    }

    .description-wines__container-wine-grape {
        width: 30%
    }
}

.about-wine__title {
    font-size: inherit;
    font-family: var(--font-for-subtitle);
}

.about-wine__paragraph {
    color: rgb(137, 128, 130);
    font-size: inherit;
    font-family: var(--font-main);
}

/* .descr__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */
