@media (min-width: 768px) {
    .type-wine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--font-for-subtitle);
    justify-content: center;
    gap: 20px;  
    }
.type-wine__red {
    background-image: url(../img/red-wine.jpg);
    background-size: cover;
    background-position: 50%;
    min-height: 435px;
    width: 320px;
    }
.type-wine__white {
    background-image: url(../img/white-wine.jpg);
    background-size: cover;
    background-position: 50%;
    min-height: 435px;
    min-width: 320px;
    }
.type-wine__discount {
    background-image: url(../img/discount.png);
    background-size: cover;
    background-position: 100%;
    min-height: 435px;
    min-width: 320px;   
    }