.type-wine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--font-main);
    justify-content: center;
    gap: 50px 30px;
}

.type-wine__title {
    font-family: var(--font-for-subtitle);
    font-size: 30px;
}

.type-wine__top-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    gap: 50px 0px;
}

.type-wine__red {
    background-image: url(../img/red-wine.jpg);
    background-size: cover;
    background-position: 50% 30%;
    min-height: 375px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 40px 40px;
}

.type-wine__white {
    background-image: url(../img/white-wine.jpg);
    background-size: cover;
    background-position: 50% 30%;
    min-height: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 40px 40px;
}

.type-wine__discount {
    background-image: url(../img/discount.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% center;
    width: 95%;
    min-height: 375px;
    background-color: var(--color-special);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px 30px;
}

.type-wine__button {
    text-decoration: none;
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--color-special);
    width: 120px;
    height: 40px;
    border: 0;
}

.shop-white-wines {
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--color-special);
    width: 150px;
    height: 40px;
    border: 0;
}

.join {
    text-align: center;
    font-family: var(--font-main);
    font-size: 15px;
    font-weight: 500px;
    background-color: transparent;
    color: #fff;
    width: 120px;
    height: 40px;
    border: 3px solid #fff;
}

.color-divider {
    border: none;
    background-color: var(--color-special);
    height: 2px;
    width: 40px;
    size: 100px;
}

@media (min-width: 768px) {
    .type-wine__top-two {
        justify-content: space-between;
    }

    .type-wine__red {
        width: 48%;
    }

    .type-wine__white {
        width: 48%;
    }


}
